body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: $defaultFontSize;
    color: #333;
}

.primaryColor{
    color: $colorPrimary;
}

.logo{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.7rem;
}
h4{
    font-size: $defaultFontSize;
}
h5{
    font-size: 1.5rem;
}

.headingPrimary{
    color: #fff;
    text-transform: uppercase;
    font-size: 5.5rem;
    letter-spacing: .2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    backface-visibility: hidden;
    animation: moveToRight 1s ease-out;
    
    @include respond(tab_land){
        font-size: 5rem;
    }
    @include respond(tab_port){
        font-size: 4.5rem;
    }
    @include respond(phone){
        font-size: 4rem;
    }
}

.globalHeadingPrimary{
    animation: moveToTop 1s ease-out;
}



// .headingSecondary{
//     font-size: 3.5rem;
//     letter-spacing: .2rem;
//     display: inline-block;
//     background-color: $colorPrimary;
//     -webkit-background-clip: text;
//     background-clip: text;
//     color: transparent;
//     transition: .2s all ease;
    
//     &:hover{
//         transform: skewX(15deg) skewY(2deg) scale(1.1);
//         text-shadow: .5rem 1rem 2rem rgba(#000, .2);
//     }

//     @include respond(tab_big){
//         font-size: 3.25rem;
//     }
//     @include respond(tab_land){
//         font-size: 3rem;
//     }
//     @include respond(tab_port){
//         font-size: 2.5rem;
//     }
//     @include respond(phone){
//         font-size: 2rem;
//     }
// }

// .headingFour{
//     font-size: 2.5rem;
//     letter-spacing: .3rem;
//     font-weight: 400;
//     color: #333;
//     margin-top: 1rem;
//     margin-bottom: 2.5rem;
//     backface-visibility: hidden;
//     animation: moveToLeft 1s ease-out;
        
//     @include respond(tab_port){
//         font-size: 2rem;
//     }
// }

p{
    line-height: 150%;

    &:not(:last-child){
        margin-bottom: 1rem;
    }
}
// .aboutContent,
// .ppContent{
//     p{
//         font-size: $defaultFontSize;
        
//         &:not(:last-child){
//             margin-bottom: 2rem;
//         }
//     }

//     ul{
//         list-style-type: none;
//         padding: 1rem;
//         margin-left: 1rem;

//         li{
//             &:not(:last-child){
//                 margin-bottom: .5rem;
//             }
//         }
//     }
// }

// .textWidget a,
// .ppContent a{
//     color: $colorPrimary;
//     text-decoration: none;
//     text-transform: uppercase;
//     font-weight: 700;
//     display: inline-block;
//     transition: .2s all ease;

//     &:hover{
//         color: #fff;
//         background-color: $colorPrimary;
//         box-shadow: 0 1rem 2rem rgba($colorPrimary, 0.4);
//         transform: translateY(-.25rem);
//     }
// }