.text_center{text-align: center !important;}

.mtBig{margin-top: 8rem !important;}

.mbBig{margin-bottom: 8rem !important;}
.mbSmall{margin-bottom: 1.5rem !important;}

.mrBig{margin-right: 8rem !important;}