// Colors
$colorPrimary: #fcd842;

$colorSecondary: #171426;

// Font
$defaultFontSize: 1.6rem;

// Grid
$gridWidth: 114rem;
$gutterVertical: 8rem;
// $gutterVerticalSmall: 6rem;
// $gutterHorizontalBig: 7rem;
// $gutterHorizontal: 5rem;
// $gutterHorizontalSmall: 3rem;