main section{
    padding: 10rem 0;
}

#about{
    background-color: #ddd;

    .aboutContent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5rem;

        @include respond(tab_land){
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 10rem;
            width: 80%;
            margin: 0 auto;
        }
        @include respond(tab_port){
            width: 90%;
        }
        @include respond(phone){
            width: 100%;
        }
    }
}

#work{
    background-color: #ddd;
}

#contact{
    background-size: cover;
}

#page,
#single,
#blogPage{
    padding: 5rem 0;
}