.blogWrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    padding-top: 2rem;

    @include respond(tab_land){
        grid-template-columns: repeat(2, 1fr);
    }
    @include respond(phone){
        grid-template-columns: 1fr;
    }
}

.blog{
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    transition: .3s all ease;

    &:hover{
        box-shadow: 0 2rem 4rem rgba(#000, .15);
        transform: translateY(-1.5rem);
    }

    &Img{
        border-radius: .3rem;
        overflow: hidden;
        display: grid;
    }
    &Img img{
        width: 100%;
        transition: all .3s ease;
    }
    &:hover &Img img{
        transform: scale(1.2);
    }

    &Title{
        text-decoration: none;

        h2{
            padding: 1.5rem;
            font-size: 2.25rem;
            text-align: center;
            display: block;
            color: $colorPrimary;
        }
    }

    &Meta{
        padding: 1rem;
        font-size: 1.4rem;
        text-align: center;

        @include respond(tab_big){
            font-size: 1.3rem;
        }
        @include respond(tab_land){
            font-size: 1.4rem;
        }
        @include respond(tab_port){
            font-size: 1.5rem;
        }

        a{
            text-decoration: none;
            color: $colorPrimary;
            text-transform: uppercase;
        }
    }

    &_content{
        padding: 1rem;
        text-align: justify;
        font-size: 1.5rem;

        @include respond(tab_port){
            font-size: $defaultFontSize;
        }
    }

    &More{
        margin: 2rem;
        float: right;
    }

    &Pagination{
        display: flex;
        justify-content: center;
        padding-top: 6rem;
        grid-column: 1 / -1;

        ul.page-numbers{
            list-style-type: none;
            display: flex;

            li{
                a,
                .current{
                    position: relative;
                    display: block;
                    padding: .75rem 1.5rem;
                    color: $colorDark2;
                    text-decoration: none;
                }

                a:hover,
                .current{
                    @include gradientBG;
                    color: #fff;
                }
            }
        }
    }
}

.hasSidebar{
    .blogWrap{
        display: block;
        padding-top: 0;
    }

    .blog{
        box-shadow: none;
        padding: 2rem 1rem;

        &:not(:last-child){
            margin-bottom: 3rem;
        }
    
        &:hover{
            box-shadow: none;
            transform: translateY(0);
        }
    
        &Img{
            float: left;
            width: 35%;
        }

        &Details{
            float: right;
            width: 65%;
            padding-left: 1rem;
        }
    
        &Title{    
            h2{
                text-align: left;
                padding: 0 1rem;
            }
        }
    
        &Meta{
            text-align: left;
        }
    
        &_content{
            padding: 0 1rem;
            margin: 0;
        }
    
        &More{
            margin: .5rem;
        }
    }
}