.marketplace{
    
    &Wrap{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;

        @include respond(tab_land){
            grid-gap: 1rem;
        }
        @include respond(tab_port){
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 3rem;
        }
        @include respond(phone){
            grid-template-columns: 1fr;
        }
    }

    &Box{
        width: 100%;
        height: 100%;
        min-height: 14rem;
        padding: 0 1.5rem;
        background-color: #fff;
        border-radius: .3rem;
        overflow: hidden;
        transition: .3s all ease;
        box-shadow: 0 1.5rem 4rem rgba(#000, .15);

        display: grid;
        align-content: center;
        justify-items: center;

        &:hover{
            transform: translateY(-1rem);
            box-shadow: 0 2rem 4rem rgba(#000, .15);
        }

        img{
            width: 100%;
        }
    }
}