.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .8);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: .3s all ease;
    
    &Content{
        width: 75%;
        background-color: #fff;
        box-shadow: 0 2rem 4rem rgba(#000, .2);
        @include positionCenterCenter;
        border-radius: .3rem;
        display: table;
        overflow: hidden;
        position: relative;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.3);
        transition: .4s .2s all ease;
        
        @include respond(tab_big){
            width: 90%;
        }
        @include respond(tab_land){
            width: 95%;
        }
    }

    &Left{
        width: 34%;
        display: table-cell;
        
        @include respond(tab_big){
            width: 100%;
            display: block;
            @include clearfix;
            margin-bottom: .8rem;
        }
    }

    &Img{
        display: block;
        width: 100%;
        
        @include respond(tab_big){
            width: 50%;
            float: left;
        }
    }

    &Right{
        width: 66%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 4rem;
        
        @include respond(tab_big){
            width: 100%;
            display: block;
        }

        ul{
            list-style-type: none;
            margin: .5rem 0 1rem 2rem;
            
            column-count: 2;
            column-gap: 4rem;
            
            -o-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;

            @include respond(tab_big){
                margin-bottom: 2rem;
                
                column-count: 2;
                column-gap: 2rem;
            }
            @include respond(phone){
                column-count: 1;
            }

            li{
                font-size: 1.3rem;
                margin-bottom: .3rem;

                @include respond(tab_big){
                    font-size: 1.5rem;
                }

                @include respond(tab_port){
                    font-size: $defaultFontSize;
                }
            }
        }
    }
    
    // Functions
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target &Content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &Close{
        &:link,
        &:visited{
            color: $colorDark1;
            text-decoration: none;
            position: absolute;
            top: 1.5rem;
            right: 2.5rem;
            font-size: 3rem;
            line-height: 1;
            
            @include respond(tab_big){
                background-color: #fff;
                width: 3rem;
                height: 3rem;
                text-align: center;
                border-radius: 50%;
            }
            @include respond(tab_port){
                line-height: 1;
            }
        }
        &:hover,
        &:active{
            color: $colorPrimary;
        }
    }
}