.preview{
    width: 100%;
    height: 100vh;
    background-color: $colorDark1;
    padding-top: 5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;

    &Content{
        height: 100%;
        margin: 0 auto;
        transition: all .3s ease;
    }

    iframe{
        width: 100%;
        height: 100%;
        @include positionCenterCenter;
        overflow: hidden;
        position: relative;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.3);
        transition: .4s .2s all ease;
    }

    &SizesLabel{
        position: absolute;
        top: 1.4rem;
        cursor: pointer;

        &Mobile{
            right: 14.5rem;
        }
        &Tablet{
            right: 10rem;
        }
        &Desktop{
            right: 6rem;
        }

        svg{
            height: 2.2rem;
            width: auto;
            fill: #000;

            transition: all .3s ease;
        }
    }

    &MobileSize,
    &TabletSize,
    &DesktopSize{
        position: absolute;
        left: -9999.9rem;
    }
    
    // Functions
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target iframe{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &Close{
        &:link,
        &:visited{
            color: $colorLight1;
            text-decoration: none;
            position: absolute;
            top: 1rem;
            right: 2rem;
            font-size: 3rem;
            line-height: 1;
        }
        &:hover,
        &:active{
            color: $colorPrimaryLight;
        }
    }

    &DesktopSize:checked ~ &Content{
        width: 100%;
    }
    &DesktopSize:checked + &SizesLabelDesktop .labelSVG{
        fill: $colorDark3;
    }

    &TabletSize:checked ~ &Content{
        max-width: 720px;
    }
    &TabletSize:checked + &SizesLabelTablet .labelSVG{
        fill: $colorDark3;
    }

    &MobileSize:checked ~ &Content{
        max-width: 360px;
    }
    &MobileSize:checked + &SizesLabelMobile .labelSVG{
        fill: $colorDark3;
    }
}