section{
    padding: 5rem 0;

    > h2{
        text-align: center;
        margin-bottom: 5rem;
    }
}

.sectionTop{
    text-align: center;
    margin-bottom: 5rem;

    h2{
        margin-bottom: 1.5rem;
    }
}