.sidebar{
    overflow: hidden;
    padding: 3rem;
    border: .1rem solid $colorLight2;

    @include respond(tab_land){
        width: 60%;
        margin: 0 auto;
        display: block;
    }
    @include respond(tab_port){
        width: 80%;
    }
    @include respond(phone){
        width: 100%;
    }

    &Widget{
        display: block;
        padding: 3rem 0;

        &:not(:last-child){
            border-bottom: .1rem solid $colorLight2;
        }
    }
    &Title{
        @include gradientBG;
        text-align: center;
        color: #fff;
        padding: .8rem 0;
        margin-bottom: 3rem;
    }

    img{
        width: 100%;
    }

    ul{
        list-style-type: none;
        
        li{
            padding: 1.5rem 0 .8rem 0;
            border-bottom: .2rem dotted $colorLight2;
            font-size: 1.5rem;
            text-align: left;
            transition: all .3s ease;

            &:hover{
                color: $colorPrimary;
                border-color: $colorPrimary;
            }

            a{
                text-decoration: none;
                color: #000;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: bold;
                display: inline-block;
                transition: all .3s ease;

                &:hover{
                    color: $colorPrimary;
                }
            }

            .post-date, .comment-author-link{
                font-size: 1.3rem;
                color: $colorDark3;
                transition: all .3s ease;

                &:hover{
                    color: $colorPrimary;
                }
            }
        }

        .cat-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .menu{
        .menu-item-has-children{
            position: relative;

            .sub-menu{
                position: absolute;
                background-color: #fff;
                width: 100%;
                padding: 1rem 2rem;
                top: 4.2rem;
                left: -9999.9rem;
            }

            &:hover{
                .sub-menu{
                    left: 0;
                }
            }
        }
    }

    .tagcloud{
        text-align: center;

        a{
            font-size: 1.2rem;
            color: #000;
            text-decoration: none;
            display: inline-block;
            background: #fff;
            border: .1rem solid $colorLight2;
            padding: .3rem 1.3rem;
            margin: 0 .3rem 1rem .3rem;
            transition: all 0.3s ease;

            &:hover{
                color: #fff;
                @include gradientBG;
            }
        }
    }

    table#wp-calendar{
        width: 100%;
        border-collapse: collapse;

        caption{
            padding: 0 0 1.5rem 0;
            color: $colorDark2;
        }

        #prev {
            text-align: left;

            a{
                color: $colorDark2;
                font-size: 1.6rem;
                line-height: 3.2rem;
                font-weight: bold;
                text-decoration: none;

                &:hover{
                    color: $colorPrimary;
                }
            }
        }

        thead, tbody{
            text-align: center;

            tr{
                th, td{
                    padding: .5rem 0;
                }
            }
        }
    }

    .gallery{
        .gallery-item{
            margin: 0 !important;

            .gallery-icon{
                padding: .3rem;

                img{
                    border: none !important;
                }
            }
        }
    }

    .textWidget{
        text-align: justify;
        font-size: 1.5rem;
        color: $colorDark2;

        a{
            font-size: 1.4rem;
        }
    }
}