.trainingPrograms{
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        .singleClass{
            button.btn{
                text-align: left;
                left: 0;
                width: 70%;
                transform: translate(0%, -100%);
                margin-top: 0;
            }
        }
    }
}