#footer{
    color: $colorLight4;
    background-color: $colorDark1;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 5rem;
}

.footer{
    &Logo{
        source,
        img{
            width: 15rem;
            height: auto;
        }
    }
    &Nav{
        list-style-type: none;
        padding: 6rem 0;
        
        &Item{
            display: inline-block;
            
            &:not(:last-child){
                margin-right: 1.5rem;
            }
        }
    }
    &Link{
        &:link,
        &:visited{
            color: $colorLight1;
            background-color: $colorDark1;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            transition: .2s all ease;
        }
        &:hover,
        &:active{
            color: $colorPrimary;
            box-shadow: 0 1rem 2rem rgba(#000, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
    &Copyright{
        width: 85%;
        margin: 0 auto;
        border-top: .1rem solid $colorDark3;
        padding: 2rem 0;
        
        @include respond(tab_land){
            width: 100%;
        }
    }
}