@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald&display=swap');
@import url('css/main.css');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */


.heroHomeBox, .heroGlobalBox {
    background-image: linear-gradient(to right, rgba(23, 20, 38, 0.7), rgba(23, 20, 38, 0.7)), url(img/hero-small.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (min-resolution: 192dpi) and (min-width: 36.06em), only screen and (min-width: 87.5em) {
    .heroHomeBox, .heroGlobalBox {
        background-image: linear-gradient(to right, rgba(23, 20, 38, 0.7), rgba(23, 20, 38, 0.7)), url(img/hero.jpg);
    }
}